body{
    background-color: #f9fafb;
    color:#1f2937;
    padding: 2rem;
}
textarea , input{
    background-color: #ffffff;
    border:1px solid #e5e7eb;
    padding: 0.8rem;
    width:100%;
    border-radius: 6px;
    margin-bottom: 1 rem;
}
h2{
    color: #0f172a;
    font-size: 2.2rem;
}
button{
    background-color: #3b82f6;
    color: white;
    padding: 0.8rem 1.5rem;
    border:none;
    border-radius: 6px;
    cursor:pointer;
    transition: background-color 0.3s;
}
button:hover{
    background-color: #2563eb;
}